<div class="container">
    <div class="footer-nav footer-nav-1">
        <ul class="nav navbar-nav">
            <li id="contact-footer"><a href="contact.html">Kontakt</a></li>
            <li id="about-footer"><a href="about.html">O nás</a></li>
            <li id="project-footer"><a href="project.html">Projekty</a></li>
            <li id="archive-footer"><a href="archive.html">Proběhlé výstavy</a></li>
            <li id="index-footer"><a href="index.html">Aktuální výstava</a></li>
        </ul>
    </div> <!-- End .footer-nav -->
    <div class="footer-nav footer-nav-2">
        <ul class="nav navbar-nav">
            <li><a href="tel:+420728524394"><i class="fa fa-phone"></i>+420 728 524 394</a></li>
            <li><a href="mailto:jiriholan98@gmail.com"><i class="fa fa-envelope"></i>jiriholan98@gmail.com</a></li>
            <li><a href="https://goo.gl/maps/7xHmUbDgf6y">Řetězová 222/3, Praha 1, 110 00 </a></li>
        </ul>
    </div> <!-- End .footer-nav -->
    <div class="copyright">
        <span>Vyrobeno roku 2017, <span><i class="fa fa-heart"></i></span><a href="http://www.twitter.com/senkadam">Adam Šenk</a></span>
    </div> <!-- End .copyright -->
</div> <!-- End .container -->