<div class="sidebar">
        <div class="widget-box">
            <div class="widget-title">
                <span>Galerie Kunštát</span>
                <div class="line"></div>
            </div> <!-- End .widget-title -->
            <div class="widget-item">
                <img src="images/gallery-side.jpg" alt="Galerie Kunštát">
                <div class="sidebar-text">
                    <p>se nachází v unikátním románském sklepení z poloviny 12. století. Kde jinde, bychom
                        mohli mít bok, po
                        boku umění starých mistrů doby románské a projevy umělců doby dnešní, prostor je tak
                        obohacen o další
                        dimenzi. Atmosféra místa, vystavovaná díla a naše představivost vytváří pokaždé
                        zcela jiný zážitek
                        okamžiku. Ať už se jedná o díla, která jsou svou barevností, nebo výlučností tak
                        odlišná od středověké
                        architektury, nebo o díla klasického charakteru vždy nastává kontrast a napětí mezi
                        nimi. Tato galerie,
                        se každému příchozímu zcela vryje do paměti.</p>
                </div> <!-- End .sidebar-text -->
            </div> <!-- End .widget-item -->
        </div> <!-- End .widget-box -->

        <div class="widget-box">
            <div class="widget-title">
                <span>KDE NÁS NAJDEŠ:</span>
                <div class="line"></div>
            </div> <!-- End .widget-title -->
            <div class="widget-item">
                <div class="sidebar-text">
                    <p>Řetězová 222/3<br/> Praha 1, 110 00 <br>
                        <a href="https://goo.gl/maps/7xHmUbDgf6y">Google mapy</a><br>
                    <p>Více informací jak se s námi spojit hledej v sekci <a href="contact.html">kontakty</a></p>
                </div> <!-- End .sidebar-text -->
            </div> <!-- End .widget-item -->
        </div> <!-- End .widget-box -->

        <div class="widget-box">
            <div class="widget-title">
                <span>SLEDUJ NÁS NA:</span>
                <div class="line"></div>
            </div> <!-- End .widget-title -->
            <div class="widget-item">
                <span class="social"><a href="https://www.facebook.com/kunstatgalerie/"><i class="fa fa-facebook"></i></a></span>
                <span class="social"><a href="https://www.ukunstatu.cz"><i class="fa fa-globe"></i></a></span>
                <span class="social"><a href="mailto:jiriholan98@gmail.com"><i class="fa fa-envelope"></i></a></span>
            </div> <!-- End .widget-item -->
        </div> <!-- End .widget-box -->


    </div>
